body{
    margin:0;
}
/* Syling of Background Image section*/
#background_img{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    height: 40em;
    
}

.font{
    font-family: Poppins;
    color:aliceblue
}
.center{
    position: absolute;
    margin-left: 20%;
    margin-top:2cm;
    font-size: 50px;
    font-weight: 300%;
}
.lorem p{
    position:absolute;
    font-size: 30px;
    margin-top:6cm;
    margin-left:20%;
    font-weight: 2px;
}

.donate_now_jump_button{
    position: absolute;
    background-color: rgb(255, 94, 94);
    border: 100cm;
    border-radius: 7px;
    margin-top: 11cm;
    margin-left: 40%;
    text-decoration: none;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 2em;
    padding-left:2em;
    font-weight: 300px;
    font-size:20px

}

/* End of styling background image section*/

/*Start styling of donate today section*/
.main{
    margin-top: 10%;
}
.tk{
    display: flex;
    margin-left: 25%;
}
.tk div{
    margin-left:5%;
}

#_200tk{
    border: 2pt solid;
    border-color: rgb(255, 21, 21);
    border-radius: 2px;
    background-color: rgba(247, 144, 144, 0.508);
    padding:2px;
    padding-left: 2%;
    padding-right: 2%;
    
}
#_200tk h2{
    color: red;
    font-family: Poppins;
}

#tk-color-grey{
    color:rgba(80, 77, 77, 0.585);
    font-family: Poppins;
}
#form-style{
    margin-top:2%;
    margin-left:20em;
}
#amount{
    border-width:1%;
    border-top:0;
    border-left:0;
    border-right:0;
    padding-left:25%;
    padding-right:30%;
    padding-bottom:2px;
    text-align: center;
    font-family: Poppins;
    font-weight:500;
    font-size:20px;
    outline: none;
}
#donate_now{
    margin-top:3%;
}
#donate_now a{
    background-color: rgb(255, 94, 94);
    border: 100cm;
    border-radius: 10px;
    margin-top: 11cm;
    margin-left: 28%;
    text-decoration: none;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 2em;
    padding-left:2em;
    font-weight: 300px;
    font-size:20px
}
/*End of styling donate today section*/


/*Start of donation plan*/
.donate-plan{
    margin:2%;
    padding:50px 2% 1% 1%;
    font-family: Poppins;
}
.donate-plan p{
    font-weight: 200;
    font-family: Poppins;
}
#donate-plan-1{
    border: 1 solid;
    background-color:rgba(172, 242, 242, 0.417);

}
#donate-plan-2{
    border: 1 solid;
    background-color:rgba(242, 172, 209, 0.343);

}
#donate-plan-3{
    border: 1 solid;
    background-color:rgba(248, 232, 160, 0.533);

}

/*End of donation plan*/

/*Start of contribution section*/
.how_to_contribute_text_1{
    margin-left: 15%;
}
.how_to_contribute_text_1 p{
    text-align: justify;
    margin-right:50%;
}
.how_to_contribute_text_1 a{
    background-color: rgb(255, 94, 94);
    border: 100cm;
    border-radius: 10px;

    text-decoration: none;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 2em;
    padding-left:2em;
    font-weight: 300px;
    font-size:10px;
    
}
.how_to_contribute_img_1{
    margin-right:18%;
}
.how_to_contribute_img_1 img{
    width:130%;
    height: 30em;
}
#how_to_contribute_img_2{
    margin-left:15%;

}
#how_to_contribute_img_2 img{
    width:110%;
    height: 30em;
}
#how_to_contribute_text_2{
    margin-right:10%;
    margin-left: 8%;
}
#how_to_contribute_text_2 p{
    text-align: left;
    margin-right: 2%;
}
#how_to_contribute_text_2 a{
    background-color: rgb(255, 94, 94);
    border: 100cm;
    border-radius: 10px;

    text-decoration: none;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 2em;
    padding-left:2em;
    font-weight: 300px;
    font-size:10px;
}
/*End of contribution section*/

/*Start of get my update section*/
#get_my_updates p{
    margin: 0 20% 2% 20%;
    font-weight: 300;

}
#email_subscribe div{
    margin-top:2%;
    margin-left:19em;
    margin-right:20em;
    background-color: rgba(255, 228, 196, 0.45);
    padding-top:5%;
    padding-bottom: 5%;
    padding-left: 10em;
}
#style_email{
   border: 0;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   padding-left: 4.5em;
   padding-top: 1.5em;
   padding-right: 5.5em;
   padding-bottom: 1.5em;
   margin-inline-start:auto;
   background-color:rgba(149, 148, 148, 0.546)
}
#style_email::placeholder{
    position: absolute;
    font-family: Poppins;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 255, 255, 0.636);
    font-size: 1.2em;
    font-style: italic;
}
#style_button{
    background-color: rgb(255, 94, 94);
    border:0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 0;
    text-decoration: none;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 5em;
    padding-left:3em;
    font-weight: 600;
    font-size:15px;
}
/*End of my update section*/

/*Start of footer section*/
#style_footer{
    background-color: black;
    padding:2%;
}
#style_footer footer{
    margin-left:40%;
    margin-right:25%;
}
/*End of footer section*/




